/*@import url("'AbrilFatface-Regular.ttf");
* {
  outline: none;
  box-sizing: border-box;
}*/

@font-face {
  font-family: RunyTunes;
  src: url(../fonts/runytunes-font/RunyTunesRevisitedNF.ttf) format('truetype');
}

@font-face {
  font-family: PsychoArt;
  src: url(../fonts/psychoart-font/PsychoartRegular.ttf) format('truetype');
}

html,
body {
  background-image: url(../img/art-noveou.jpeg);
  object-fit:scale-down;
  place-items: center;
  overflow-x: hidden;
  font-size: 16px;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.hiddenphrase{
  display:grid;
  position:relative;
  color: black;
 }

#titlelandingpage{
  margin: 150px;
  font-family:'RunyTunes';
  font-size: 180px;
  color: red;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.enterbutton{
  display: grid;
  position: relative;
  font-family:'RunyTunes';
  color: black;
  font-size: 20px;
  text-decoration: none !important;
  text-align: center;
  margin: auto;
  cursor: pointer;
  bottom: -40px;
  overflow: hidden;
}

.overflow-hidden {
  overflow-y: hidden;
}

/* about modal */

.modal-content{
  border: double #793735 3px;
  border-radius: 12px;
  font-family: 'PsychoArt';
}

#modal-button{
  color: #338BA8;
  background-color: #yellow;
  border: double #793735 3px;
  border-radius: 12px;
}

.modal-title{
  font-family:'RunyTunes';
  color: #338BA8;
  z-index: 1;
}

.modal-body{
  background-image: url("https://media4.giphy.com/media/xUA7bjwzm2cHzA7Mo8/giphy.gif?cid=ecf05e47l2yvce4vr4b46b29x2awvsqqitowqt5y5x87z9i4&ep=v1_gifs_search&rid=giphy.gif&ct=g");
  background-size: cover;
  z-index: 1;
}

#modal-text{
  color: black;
}

.modal-header{
  background-color: #793735;
  z-index: 1;
}

.modal-footer{
  background-color: #793735;
  z-index: 1;
}

/* navbar */

header {
  font: "RunyTunes";
  background-color: #793735;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  display: flex;
  align-items: center;
  /*box-shadow: 0 0 25px 0 black;*/
  z-index: 2;
}

.navbar{
  display:grid;
  z-index: 2;
  position: fixed;
  font-family:'RunyTunes';
  margin-left: 250px;
}

.normal-text,p{
  background-color: none;
  color: #c4bc00;
  font-family: "PsychoArt";
}

h1, h2, h3, b {
  font-family:'RunyTunes';
  color: #338BA8;
}

.titlepage{
  background-color: red;
}

h5, i, checkbox {
  color: #c4bc00;
  background-color: red;
  font-family: 'PsychoArt';
}

header li a {
  color: #338BA8;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  display: inline;
}

.navbar-brand{
  padding-left:30px;
  text-decoration: none;
  z-index: 6;
}

.nav-link{
  font-size: large;
  color: #338BA8;
  position: relative;
  left: 26cm;
  text-decoration: none;
}

.timeline {
  border: double #793735 3px;
  border-radius: 12px;
  font-family:'RunyTunes';
  position: fixed;
  top: 10%;
  height: 45px;
  width: 100%;
  padding: 8px;
  z-index: 1;
  display: grid;
  backdrop-filter: blur(5px);
}

.timeline li{
  display: inline;
  text-align: center;
  cursor: pointer;
  padding-left: 10px;
}

.timeline li:hover{
  color: #338BA8;
  background-color: #ccc4ae;
  transition-duration: 0.5s;
}

.nav-options{
  color: #338BA8;
  display: inline;
  padding-right: 10px;
  text-align: center;
  z-index: 2;
}

/*a:hover{
  color:black;
}*/

a:visited{
  color: #338BA8;
  text-decoration: none !important;
}

li:visited{
  color: #338BA8;
  text-decoration: none !important;
}

/*texts*/

.intro-text{
  position: fixed;
  top: 25%;
  right: 10%;
  height: 70%;
  width: 80%;
  text-align: center;
  font-size: 18px;
  color: red;
}

.intro-text h1{
  font-size: 80px;
  color: red;
}

.documentation-text{
  border: double #793735 3px;
  border-radius: 12px;
  background-image: url('../img/art-nouveau-background-doc.jpeg');
  background-size: cover;
  background-position: center;
  cursor: url('../img/artnouveau-flower.png'), auto;
  position: fixed;
  top: 25%;
  right: 10%;
  height: 70%;
  width: 80%;
  text-align: left;
  font-size: 18px;
  text-align: left;
  padding: 6%;
}

#documentation{
  background-color: none;
  color: #c4bc00;
  font-family: "PsychoArt";
}

.text-content {
  padding: 5%;
  overflow: hidden;
  margin-top: 70px;
}

.text-content2 {
  overflow: auto;
  padding: 7%;
  max-height: 276px;
}

.text-content3 {
  padding: 11%;
  overflow: hidden;
}

.text-content4 {
  overflow: auto;
  max-height: 200px;
  margin-left: 40px;
  margin-right: 40px;
}

/* noise animation background */

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*.noise {
  position: absolute;
  top: -500px;
  right: -500px;
  bottom: -500px;
  left: -500px;
  margin: -50px;
  background: url(https://github.com/dystotypo/dystotypo/blob/main/img/noise.png?raw=true) 0 0;
  background-size: 320px 320px;
  opacity: 0.8;
  -webkit-animation: noise 1s steps(8, end) infinite both;
  animation: noise 1s steps(8, end) infinite both;
}*/

@-webkit-keyframes noise {
  0% {
    transform: translateX(0px, 0px);
  }
  10% {
    transform: translate(-100px, 100px);
  }
  20% {
    transform: translate(150px, -100px);
  }
  30% {
    transform: translate(-100px, 100px);
  }
  40% {
    transform: translate(100px, -150px);
  }
  50% {
    transform: translate(-100px, 200px);
  }
  60% {
    transform: translate(-200px, -100px);
  }
  70% {
    transform: translateY(50px, 100px);
  }
  80% {
    transform: translate(100px, -150px);
  }
  90% {
    transform: translate(0px, 200px);
  }
  100% {
    transform: translate(-100px, 100px);
  }
}
@keyframes noise {
  0% {
    transform: translateX(0px, 0px);
  }
  10% {
    transform: translate(-100px, 100px);
  }
  20% {
    transform: translate(150px, -100px);
  }
  30% {
    transform: translate(-100px, 100px);
  }
  40% {
    transform: translate(100px, -150px);
  }
  50% {
    transform: translate(-100px, 200px);
  }
  60% {
    transform: translate(-200px, -100px);
  }
  70% {
    transform: translateY(50px, 100px);
  }
  80% {
    transform: translate(100px, -150px);
  }
  90% {
    transform: translate(0px, 200px);
  }
  100% {
    transform: translate(-100px, 100px);
  }
}


#theme_1_book_1{
  display: block;
  max-height: 100%;
  max-width: 100%;
  padding: 5px;
}

/* for the issues page */

.container_issues_page{
  position: absolute;
  width: 100%;
  top: 70%;
  left: 0.1rem;
  display: flex;
  flex-direction: column;
  border: 14px;
  border-color: #fff;
  font-size: 15px;
  font-weight: 500;
}

article{
    position: absolute;
    text-align: center;
    padding-top: 60px;
    padding: 20px;
    color: #793735;
    font-family:'RunyTunes';
    background-image: url(../img/art-noveou.jpg);
    background-size: cover;
    background-position: center;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 5px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section.book1 {
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*box-shadow: inset 3px 3px 9px rgba(0, 0, 0, 0.466);*/
  height: 100vh;
}

section#img01 {
  background-image: url(https://cdn.shopify.com/s/files/1/0285/1316/products/w0129_1s_Art-Nouveau-Eye-Wallpaper-for-Walls-Teal-Eye_Repeating-Pattern-Sample-1.jpg?v=1586015135);
  background-size:cover;
}

section#img02 {
  background-image: url(https://raw.githubusercontent.com/dystotypo/dystotypo/main/img/artnouveau-BNW.png);
}

section#img03 {
  background-image: url(https://images.fineartamerica.com/images-medium-large-5/vintage-perfume-ad-1896-padre-art.jpg);
}

section.normal {
  background-image: url(../img/art-nouveau-background-home.jpeg);
  background-size: cover;
  background-position: center;
  color: white;
  min-height: 300px;
  min-width: 350px;
  padding: 100px;
}

/*This section should be shorted somehow, cause it doesn't seem a good idea to repeat codes for doing the same thing*/
section.book2{
  position: relative;
  background-color: royalblue;
  min-height: 400px;
  box-shadow: inset 3px 3px 9px rgba(0, 0, 0, 0.466);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

section.book3{
  position: relative;
  background-color: royalblue;
  min-height: 400px;
  box-shadow: inset 3px 3px 9px rgba(0, 0, 0, 0.466);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

section > h2 {
  font-size: 1.5em;
  padding-bottom: 20px;
  text-align: center;
  letter-spacing: 2px;
  padding-top: 20px;
  text-shadow: 1px 1px 9px rgba(0, 0, 0, 0.541);
}

section > p {
  display: block;
  text-align: center;
  padding-bottom: 20px;
  min-width: 350px;
  font-size: 16px;
  line-height: 28px;

}

article:visited{
  text-decoration: none;
}

/* for the texts page */

.container {
  position: relative;
  height: 100%;
  margin-top: 130px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  z-index: 0;
}

.flex-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap; /* added */
  max-width: 100%;
}

#menu {
  position: absolute;
  border: double #793735 3px;
  border-radius: 12px;
  background-image: url(https://media2.giphy.com/media/woe7yoxRkNxxC/giphy.gif?cid=ecf05e47q1g366rott9h7y7cv3w761a6adix5v93p9snjnmo&ep=v1_gifs_search&rid=giphy.gif&ct=g);
  background-size: cover;
  align-items: center;
  margin-right: 120%;
  margin-top: 0;
  padding: 3%;
  min-height: 400px;
  width: 150px;
  min-width: 50px;
  flex-shrink: 1;
  flex-grow: 1;
}

#menu ul {
  list-style-type: none; /* Remove bullets */
}

@media only screen and (max-width: 768px) {
  #menu {
    width: auto;
    height: auto;
    font-size: 16px;
  }
}

#eye-icon {
  width: 30px;
  height: 30px;
}

#flame-icon {
  width: 30px;
  height: 30px;
}

#pill-icon {
  max-width: 30px;
  max-height: 30px;
}

#text {
  z-index: 1;
  position: absolute;
  border: double #793735 3px;
  border-radius: 12px;
  background-image: url('../img/art-nouveau-background-text.jpeg');
  background-size: cover;
  background-position: center;
  cursor: url('../img/artnouveau-flower.png'), auto;
  margin-left: 20%;
  max-height: 400px;
  width: 900px;
  min-width: 100px;
  flex-shrink: 1;
  flex-grow: 1;
}

@media only screen and (max-width: 768px) {
  #text {
    width: auto;
    height: auto;
    font-size: 16px;
  }
}

#metadata {
  z-index: 2;
  position: relative;
  top: -295px;
  margin-left: 2%;
  width: 800px;
  border: double #793735 3px;
  border-radius: 12px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  flex-shrink: 1;
  flex-grow: 1;
  height: auto;
  max-height: 0.5;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-family: 'PsychoArt';
}

@media only screen and (max-width: 768px) {
  #metadata {
    width: auto;
    height: auto;
    font-size: 16px;
  }
}

.collapsible {
  background-color: #793735;
  font-family:'RunyTunes';
  color: #338BA8;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: double #793735 3px;
  border-radius: 12px;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible.active {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  max-height: 50px;
  overflow: hidden;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.scrollable-content {
  max-height: 100px;
  overflow-y: auto;
}

@media only screen and (max-width: 767px) {
  .collapsible {
    width: auto;
    overflow-y: scroll;
    font-size: 16px;
  }
}

/*highlight functionalities*/

#truth, #memory, #time{
  background-color: #793735;
}
#truth:hover, #memory:hover, #time:hover, #truth:active, #memory:active, #time:active{
  background-color: #ccc4ae;
  border: double #c4bc00 3px;
  border-radius: 12px;
}
input[type="checkbox"]{
  color:#bab1a0;
}
.btn-default{
  color:#bab1a0;
}
.btn-default:hover{
  color:#bab1a0;
}

.text-truth {
  background-color: #ff4013;
}

.text-memory {
  background-color: #e6004f;
}

.text-time {
  background-color: #230089;
}

/* Metadata information*/

ul {
  padding-inline-start: 0.5em;
}
.list {
  font-size: 80%;
  font-family: 'PsychoArt';
  line-height: 1.2;
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
  list-style-position:inside;
}
.list a {
  color: black;
  margin: 0;
}

.list-truth{
  font-family: 'PsychoArt';
}


/*.active, .:hover {
  background-color: #555;
}*/

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  color: #338BA8;
  border: none;
  text-transform: uppercase;
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-style: inherit;338BA8
  font-weight: inherit;
  line-height: inherit;
  font-size: large;
  position: relative;
  left: 26cm;
}

.dropdown li{
  font-size: 25px;
  color: #338BA8;
  position: relative;
  display: block;
}

.dropdown-content{
  display: none;
  position: absolute;
  margin-left: 26cm;
  padding: 10px;
  backdrop-filter: blur(5px);
  min-width: 220px;
  z-index: 5;
}

.dropdown-content a {
  font-size: 20px;
  text-decoration: none;
  color: #338BA8;
  padding-left: 4%;
  display: block;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown-content a:hover {background-color: #ccc4ae; transition-duration: 0.5s;}

img {
  border: double #793735 5px;
  border-radius: 12px;
  filter: saturate(0.5);
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: double #793735 3px;
  text-align: left;
  padding: 8px;
}
