/*@import url("'AbrilFatface-Regular.ttf");
* {
  outline: none;
  box-sizing: border-box;
}*/

@font-face {
  font-family: Hacked;
  src: url(../fonts/hacked-font/hacked.ttf) format('truetype');
}

@font-face {
  font-family: Snorter;
  src: url(../fonts/snorter-font/Snorter.ttf) format('truetype');
}

html,
body {
  background-image: url('../img/gridmatrix.mp4');
  place-items: center;
  overflow-x: hidden;
  font-size: 16px;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.hiddenphrase{
  display:grid;
  position:relative;
  color: black;
 }

#titlelandingpage{
  margin: 150px;
  font-family:'Hacked';
  font-size: 180px;
  color: #FFFFFF;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.enterbutton{
  display: grid;
  position: relative;
  font-family:'Hacked';
  color: black;
  font-size: 20px;
  text-decoration: none !important;
  text-align: center;
  margin: auto;
  cursor: pointer;
  bottom: -40px;
  overflow: hidden;
}

.overflow-hidden {
  overflow-y: hidden;
}

/* about modal */

.modal-content{
  border: solid black 4px;
  font-family: 'Hacked';
}

#modal-button{
  color: red;
  background-color: yellow;
  border: solid black 4px;
}


.modal-title{
  color: red;
  z-index: 1;
}

.modal-body{
  background-color: yellow;
  z-index: 1;
}

.modal-header{
  background-color: #172473;
  z-index: 1;
}

.modal-footer{
  background-color: #172473;
  z-index: 1;
}

/* navbar */

header {
  font-family: 'Snorter';
  background-image: url('https://media3.giphy.com/media/RgWIsbDWOAr1HGqC8t/giphy.gif?cid=ecf05e47x1h1poljc5cwibwwzr6mp3431nljvu2rtnzskhqu&ep=v1_gifs_related&rid=giphy.gif&ct=g');
  border: solid black 4px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  display: flex;
  align-items: center;
  /*box-shadow: 0 0 25px 0 black;*/
  z-index: 2;
}

.navbar{
  display:grid;
  z-index: 2;
  position: fixed;
}

.normal-text,p{
  color: blue;
  font-family: 'Hacked';
}

i{
  font-family: 'Hacked';
  color: blue;
}

h1, h2, b {
  color: red;
  letter-spacing: 8px;
  font-family: 'Snorter';
  font-weight: 400;
  /*Create overlap*/

  margin: 10px;
  line-height: 30px;
  /*Animation*/

  animation: glitch1 2.5s infinite;
}

h1:nth-child(2) {
  color: #67f3da;
  animation: glitch2 2.5s infinite;
}

h1:nth-child(3) {
  color: #f16f6f;
  animation: glitch3 2.5s infinite;
}
/*Keyframes*/

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

header li a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  display: inline;
}

.navbar-brand{
  padding-left:30px;
  color: black;
  text-decoration: none;
  z-index: 6;
  font-family: 'Hacked';
}

.nav-link{
  font-size: large;
  color: #ddf308;
  position: relative;
  left: 26cm;
  text-decoration: none;
}

.timeline {
  border: solid black 4px;
  position: fixed;
  top: 10%;
  height: 45px;
  width: 100%;
  padding: 8px;
  z-index: 1;
  display: grid;
  backdrop-filter: blur(50px);
  background-image: url('https://media.tenor.com/2gfRHLv6GZ8AAAAd/code-coding.gif');
  background-size: cover;
  font: 'Hacked';
}

.timeline li{
  display: inline;
  text-align: center;
  cursor: pointer;
  padding-left: 10px;
}

.timeline li:hover{
  color: black;
  background-color: #c2700a;
  transition-duration: 0.5s;
}

.nav-options{
  color: #ddf308;
  display: inline;
  padding-right: 10px;
  text-align: center;
  z-index: 2;
  font-family: 'Hacked';
}

/*a:hover{
  color:black;
}*/

a:visited{
  color:#ddf308;
  text-decoration: none !important;
}

li:visited{
  color:#ddf308;
  text-decoration: none !important;
}

/*texts*/

.intro-text{
  position: fixed;
  top: 25%;
  right: 10%;
  height: 70%;
  width: 80%;
  text-align: center;
  font-size: 18px;
  background-image: url('/img/newspaper.avif');
}

.intro-text h1{
  font-family: 'Hacked';
  font-size: 80px;
}

.pointing {
  background-image: url('/img/pointing-hand.png');
  top:25%;
  right:20%;
}

.documentation-text{
  border: solid black 4px;
  backdrop-filter: blur(5px);
  background-image: url('https://media.tenor.com/2gfRHLv6GZ8AAAAd/code-coding.gif');
  background-size: cover;
  cursor: url('../img/hacker.svg'), auto;
  position: fixed;
  top: 25%;
  right: 10%;
  height: 70%;
  width: 80%;
  text-align: left;
  font-size: 18px;
  overflow: auto;
  text-align: left;
  font-family: 'Hacked';
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#theme_1_book_1{
  display: block;
  max-height: 100%;
  max-width: 100%;
  padding: 5px;
}

/* for the issues page */

.container_issues_page{
  position: absolute;
  width: 100%;
  top: 70%;
  left: 0.1rem;
  display: flex;
  flex-direction: column;
  border: 14px;
  border-color: #fff;
  font-size: 15px;
  font-weight: 500;
}

article{
    position: absolute;
    text-align: center;
    padding-top: 60px;
    padding: 20px;
    color: red;
    font-family: 'Hacked';
    background-image: url('https://media.tenor.com/2gfRHLv6GZ8AAAAd/code-coding.gif');
    background-size: contain;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 5px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section.book1 {
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*box-shadow: inset 3px 3px 9px rgba(0, 0, 0, 0.466);*/
  height: 100vh;
}

section#img01 {
  background-image: url(https://i.pinimg.com/originals/cc/20/8c/cc208cb13fc3fc4880c2111b14b8f749.jpg);
  background-size:cover;
}

section#img02 {
  background-image: url(https://i.pinimg.com/originals/af/9d/8e/af9d8e8031ffa4462e463f2dc5b8eaff.png);
}

section#img03 {
  background-image: url(https://i.insider.com/50829b5269bedde64200001e?width=531);
}

section.normal {
  background-image: url('https://media.tenor.com/2gfRHLv6GZ8AAAAd/code-coding.gif');
  background-size: cover;
  font-family: 'Hacked';
  color: white;
  min-height: 300px;
  min-width: 350px;
  padding: 18px;
}

/*This section should be shorted somehow, cause it doesn't seem a good idea to repeat codes for doing the same thing*/
section.book2{
  position: relative;
  background-color: #70636d;
  min-height: 400px;
  box-shadow: inset 3px 3px 9px rgba(0, 0, 0, 0.466);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

section.book3{
  position: relative;
  background-color: #70636d;
  min-height: 400px;
  box-shadow: inset 3px 3px 9px rgba(0, 0, 0, 0.466);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

section > h2 {
  font-size: 1.5em;
  padding-bottom: 20px;
  text-align: center;
  letter-spacing: 2px;
  padding-top: 20px;
  text-shadow: 1px 1px 9px rgba(0, 0, 0, 0.541);
}

section > p {
  display: block;
  text-align: center;
  padding-bottom: 20px;
  min-width: 350px;
  font-size: 16px;
  line-height: 28px;

}

article:visited{
  text-decoration: none;
}

/* for the texts page */

.container {
  position: relative;
  height: 100%;
  margin-top: 130px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  z-index: 0;
}

.flex-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap; /* added */
  max-width: 100%;
}

#menu {
  position: absolute;
  border: solid black 4px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-image: url('https://media.tenor.com/2gfRHLv6GZ8AAAAd/code-coding.gif');
  background-size: cover;
  align-items: center;
  margin-right: 120%;
  margin-top: 0;
  padding: 3%;
  min-height: 400px;
  width: 150px;
  min-width: 50px;
  flex-shrink: 1;
  flex-grow: 1;
}

#menu ul {
  list-style-type: none; /* Remove bullets */
}

@media only screen and (max-width: 768px) {
  #menu {
    width: auto;
    height: auto;
    font-size: 16px;
  }
}

#eye-icon {
  width: 30px;
  height: 30px;
}

#flame-icon {
  width: 30px;
  height: 30px;
}

#pill-icon {
  max-width: 30px;
  max-height: 30px;
}

#text {
  z-index: 1;
  position: absolute;
  border: solid black 4px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-image: url('https://media.tenor.com/2gfRHLv6GZ8AAAAd/code-coding.gif');
  background-size: cover;
  cursor: url('../img/hacker.svg'), auto;
  margin-left: 20%;
  padding: 2%;
  max-height: 400px;
  width: 900px;
  min-width: 100px;
  overflow: auto;
  flex-shrink: 1;
  flex-grow: 1;
}

@media only screen and (max-width: 768px) {
  #text {
    width: auto;
    height: auto;
    font-size: 16px;
  }
}

#metadata {
  z-index: 2;
  position: relative;
  top: -295px;
  margin-left: 2%;
  width: 800px;
  border: solid black 4px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-image: url('https://media.tenor.com/2gfRHLv6GZ8AAAAd/code-coding.gif');
  background-size: cover;
  flex-shrink: 1;
  flex-grow: 1;
  height: auto;
  max-height: 0.5;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-family: 'Hacked';
}

@media only screen and (max-width: 768px) {
  #metadata {
    width: auto;
    height: auto;
    font-size: 16px;
  }
}

.collapsible {
  background-color: #172473;
  color: #ddf308;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-family: 'Hacked';
}

.collapsible.active {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-image: url('https://media.tenor.com/2gfRHLv6GZ8AAAAd/code-coding.gif');
  background-size: cover;
  max-height: 50px;
  overflow: auto;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.scrollable-content {
  max-height: 100px;
  overflow-y: auto;
}

@media only screen and (max-width: 767px) {
  .collapsible {
    width: auto;
    overflow-y: scroll;
    font-size: 16px;
  }
}

/*highlight functionalities*/

#truth, #memory, #time{
  background-color: #c907e7;
}
#truth:hover, #memory:hover, #time:hover, #truth:active, #memory:active, #time:active{
  background-color: #ddf308;
  border-color: #bab1a0;
}
input[type="checkbox"]{
  color:#bab1a0;
}
.btn-default{
  color:#bab1a0;
}
.btn-default:hover{
  color:#bab1a0;
}

.text-truth {
  background-color: red;
}

.text-memory {
  background-color: yellow;
}

.text-time {
  background-color: green;
}

/* Metadata information*/

ul {
  padding-inline-start: 0.5em;
}
.list {
  font-size: 80%;
  line-height: 1.2;
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
  list-style-position:inside;
}
.list a {
  color: white;
  margin: 0;
}

.list-truth{
  font-family:'Hacked';
}


/*.active, .:hover {
  background-color: #555;
}*/

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  color: #ddf308;
  border: none;
  text-transform: uppercase;
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-size: large;
  position: relative;
  left: 26cm;
}

.dropdown li{
  /*font-family: 'Dosis';*/
  font-size: 25px;
  color: black !important;
  position: relative;
  display: block;
}

.dropdown-content{
  display: none;
  position: absolute;
  margin-left: 26cm;
  padding: 10px;
  backdrop-filter: blur(5px);
  min-width: 220px;
  z-index: 5;
}

.dropdown-content a {
  font-size: 20px;
  text-decoration: none;
  color: #c907e7;
  padding-left: 4%;
  display: block;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown-content a:hover {background-color: #c2700a; transition-duration: 0.5s;}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

img{
  border: 6px double;
  opacity: 0.5;
}
