/*@import url("'AbrilFatface-Regular.ttf");
* {
  outline: none;
  box-sizing: border-box;
}*/

@font-face {
  font-family: RetromaVibes;
  src: url(../fonts/retroma-vibes-font/RetromaVibesRegular-rgwXB.ttf) format('truetype');
}

@font-face {
  font-family: Sale;
  src: url(../fonts/vendendo-font/Vendendo-Wy5yv.ttf) format('truetype');
}

@font-face {
  font-family: Imagine;
  src: url(../fonts/imagine-serif-font/ImagineSerifStampRough-z8E5L.otf);
}

html,
body {
  background-image: url('../img/old-paper.jpg');
  place-items: center;
  overflow-x: hidden;
  font-size: 16px;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.hiddenphrase{
  display:grid;
  position:relative;
  color: black;
 }

#titlelandingpage{
  margin: 150px;
  font-family:'RetromaVibes';
  font-size: 180px;
  color: #FFFFFF;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.enterbutton{
  display: grid;
  position: relative;
  font-family:'RetromaVibes';
  color: black;
  font-size: 20px;
  text-decoration: none !important;
  text-align: center;
  margin: auto;
  cursor: pointer;
  bottom: -40px;
  overflow: hidden;
}

.overflow-hidden {
  overflow-y: hidden;
}

/* about modal */

.modal-title{
  color: white;
  font-family: 'RetromaVibes';
  z-index: 1;
}

.modal-body{
  background-image: url(../img/old-paper.jpg);
  z-index: 1;
}

.modal-header{
  background-color: black;
  border: solid black 1px;
  z-index: 1;

}

.modal-footer{
  background-color: black;
  font-family: 'Sale';
  z-index: 1;
}

/* navbar */

header {
  font-family: "RetromaVibes";
  background-image: url('../img/old-paper.jpg');
  border: solid black 2px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  display: flex;
  align-items: center;
  /*box-shadow: 0 0 25px 0 black;*/
  z-index: 2;
}

.navbar{
  display:grid;
  z-index: 2;
  position: fixed;
}

.navbar-collapse{
  overflow: hidden;
  left:30px;
}

ul .navbar nav{
  overflow: hidden;
}

.normal-text,p{
  background-color: none;
}

.normal-text a:hover {background-color: #c2700a; transition-duration: 0.5s;}

header li a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  display: inline;
}

.navbar-brand{
  padding-left:30px;
  color: black;
  text-decoration: none;
  z-index: 6;
  font-family: "RetromaVibes";
}

/*.navbar-brand h1{
  font-size: 45px;
}*/

#mainnavbar{
  margin-right: 5px;
  flex-direction: row;
}

.nav-link{
  font-size: large;
  color: black;
  position: relative;
  left: 26cm;
  text-decoration: none;
  /*font-size: 20px;*/
}

.timeline {
  border: solid black 2px;
  position: fixed;
  top: 10%;
  height: 45px;
  width: 100%;
  padding: 1px;
  z-index: 1;
  display: grid;
  backdrop-filter: blur(5px);
  font: 'RetromaVibes';
}

.timeline li{
  display: inline;
  text-align: center;
  cursor: pointer;
  padding-left: 10px;
  font-size: large;
}

.timeline li:hover{
  color: black;
  background-color: #c2700a;
  transition-duration: 0.5s;
}

.nav-options{
  color: black;
  display: inline;
  padding-right: 10px;
  text-align: center;
  z-index: 2;
  font-family: 'RetromaVibes';
}

/*MEDIA QUERIES FOR NAVBAR*/

@media (max-width: 640px) {
  .mainnavbar {
    text-align: center;
  }

  header {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    margin: 0.8em 0;
  }
}


/*a:hover{
  color:black;
}*/

a:visited{
  color:black;
  text-decoration: none !important;
}

li:visited{
  color:black;
  text-decoration: none !important;
}

/*texts*/

.intro-text{
  position: fixed;
  top: 25%;
  right: 10%;
  height: 70%;
  width: 80%;
  text-align: center;
  font-size: 18px;
  background-image: url('/img/newspaper.avif');
}

.intro-text h1{
  font-family: 'RetromaVibes';
  font-size: 80px;
  color: #B22222;
}

i,p {
  font-family: 'Sale';
}

.documentation-text{
  border: solid white 2px;
  backdrop-filter: blur(5px);
  position: fixed;
  top: 25%;
  right: 10%;
  height: 70%;
  width: 80%;
  text-align: left;
  font-size: 18px;
  overflow: auto;
  text-align: left;
  font-family: 'Sale';
  padding: 6%;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#theme_1_book_1{
  display: block;
  max-height: 100%;
  max-width: 100%;
  padding: 5px;
}

/* for the issues page */

.container_issues_page{
  position: absolute;
  width: 100%;
  top: 70%;
  left: 0.1rem;
  display: flex;
  flex-direction: column;
  border: 14px;
  border-color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.container_issues_page h2{
  color: #B22222;
}

article{
    position: absolute;
    text-align: center;
    padding-top: 60px;
    padding: 20px;
    color: #B22222;
    background-image: url(../img/old-paper.jpg);
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 5px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Imagine';
}

section.book1 {
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*box-shadow: inset 3px 3px 9px rgba(0, 0, 0, 0.466);*/
  height: 100vh;
}

section#img01 {
  background-image: url(../img/eyes-cartoon.jpg);
  background-size:cover;
}

section#img02 {
  background-image: url(../img/burning-book.jpg);
}

section#img03 {
  background-image: url(../img/brave-new-world.jpg);
}

section.normal {
  background-image: url(../img/old-paper.jpg);
  font-family: 'Sale';
  color: black;
  min-height: 300px;
  min-width: 350px;
  padding: 18px;
}

/*This section should be shorted somehow, cause it doesn't seem a good idea to repeat codes for doing the same thing*/
section.book2{
  position: relative;
  background-color: #70636d;
  min-height: 400px;
  box-shadow: inset 3px 3px 9px rgba(0, 0, 0, 0.466);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

section.book3{
  position: relative;
  background-color: #70636d;
  min-height: 400px;
  box-shadow: inset 3px 3px 9px rgba(0, 0, 0, 0.466);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

section > h2 {
  font-size: 1.5em;
  padding-bottom: 20px;
  text-align: center;
  letter-spacing: 2px;
  padding-top: 20px;
  text-shadow: 1px 1px 9px rgba(0, 0, 0, 0.541);
}

section > p {
  display: block;
  text-align: center;
  padding-bottom: 20px;
  min-width: 350px;
  font-size: 16px;
  line-height: 28px;

}

article:visited{
  text-decoration: none;
}

/* for the texts page */

.container {
  position: relative;
  height: 100%;
  margin-top: 130px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  z-index: 0;
}

.flex-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap; /* added */
  max-width: 100%;
}

#menu {
  position: absolute;
  border: solid red 2px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  align-items: center;
  margin-right: 120%;
  margin-top: 0;
  padding: 3%;
  min-height: 400px;
  width: 150px;
  min-width: 50px;
  flex-shrink: 1;
  flex-grow: 1;
}

#menu ul {
  list-style-type: none; /* Remove bullets */
}

#menu a{
  color: black;
}

@media only screen and (max-width: 768px) {
  #menu {
    width: auto;
    height: auto;
    font-size: 16px;
  }
}

#eye-icon {
  width: 30px;
  height: 30px;
}

#flame-icon {
  width: 30px;
  height: 30px;
}

#pill-icon {
  max-width: 30px;
  max-height: 30px;
}

#text {
  z-index: 1;
  position: absolute;
  border: solid green 2px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  margin-left: 20%;
  padding: 10%;
  max-height: 400px;
  width: 900px;
  min-width: 100px;
  overflow: auto;
  flex-shrink: 1;
  flex-grow: 1;
}

@media only screen and (max-width: 768px) {
  #text {
    width: auto;
    height: auto;
    font-size: 16px;
  }
}

#metadata {
  z-index: 2;
  position: relative;
  top: -295px;
  margin-left: 2%;
  width: 800px;
  border: solid blue 2px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  flex-shrink: 1;
  flex-grow: 1;
  height: auto;
  max-height: 0.5;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

@media only screen and (max-width: 768px) {
  #metadata {
    width: auto;
    height: auto;
    font-size: 16px;
  }
}

.collapsible {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: transparent;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-family: 'Sale';
}

.collapsible.active {
  max-height: 50px;
  overflow: hidden;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.scrollable-content {
  max-height: 100px;
  overflow-y: auto;
}

@media only screen and (max-width: 767px) {
  .collapsible {
    width: auto;
    overflow-y: scroll;
    font-size: 16px;
  }
}

/*highlight functionalities*/

#truth, #memory, #time{
  background-color: transparent;
  font-family: 'Sale';
}
#truth:hover, #memory:hover, #time:hover, #truth:active, #memory:active, #time:active{
  background-color: #c2700a;
  border-color: #bab1a0;
}
input[type="checkbox"]{
  color:#bab1a0;
}
.btn-default{
  color:#bab1a0;
}
.btn-default:hover{
  color:#bab1a0;
}

.text-truth {
  background-color: red;
}

.text-memory {
  background-color: purple;
}

.text-time {
  background-color: blue;
}

/* Metadata information*/

ul {
  padding-inline-start: 0.5em;
  overflow-y: hidden;
}
.list {
  font-size: 80%;
  line-height: 1.2;
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
  list-style-position:inside;
}
.list a {
  color: black;
  margin: 0;
}

.list-truth{
  font-family:'Sale';
}


/*.active, .:hover {
  background-color: #555;
}*/

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  color: black;
  border: none;
  text-transform: uppercase;
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-size: large;
  position: relative;
  left: 26cm;
}

.dropdown li{
  /*font-size: 25px;*/
  color: black !important;
  position: relative;
  display: block;
}

.dropdown-content{
  display: none;
  position: absolute;
  margin-left: 26cm;
  padding: 10px;
  backdrop-filter: blur(5px);
  min-width: 220px;
  z-index: 5;
}

.dropdown-content a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  padding-left: 4%;
  display: block;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown-content a:hover {background-color: #c2700a; transition-duration: 0.5s;}

img{
  filter: sepia(100%);
}

h1, h2, h3 {
  font-family: 'RetromaVibes';
}

table{
  font-family: 'Sale';
}

#team-table{
  border: 0;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 4px;
}
