/*@import url("'AbrilFatface-Regular.ttf");
* {
  outline: none;
  box-sizing: border-box;
}*/

@font-face {
  font-family: 'Abril Fatface';
  src: url(../fonts/Abril_Fatface/AbrilFatface-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'RedOctober';
  src: url(../fonts/red-october-font/RedoctoberFat-OXB8.ttf);
}

@font-face{
  font-family: 'Russian';
  src: url(../fonts/russian_pb/Russian.2022.ttf) format('truetype');
}

html,
body {
  font-family: "Abril Fatface", serif;
  background-color: #2c2c2c;
  place-items: center;
  overflow-x: hidden;
  font-size: 16px;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.hiddenphrase{
  display:grid;
  position:relative;
  color: black;
 }

#titlelandingpage{
  margin: 150px;
  font-family:'Abril Fatface';
  font-size: 180px;
  color: #FFFFFF;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.enterbutton{
  display: grid;
  position: relative;
  font-family:'Abril Fatface';
  color: black;
  font-size: 20px;
  text-decoration: none !important;
  text-align: center;
  margin: auto;
  cursor: pointer;
  bottom: -40px;
  overflow: hidden;
}

.overflow-hidden {
  overflow-y: hidden;
  overflow-x: hidden;
}

/* about modal */

.modal-title{
  color: red;
  z-index: 1;
}

.modal-body{
  background-color: red;
  z-index: 1;
}

.modal-header{
  background-color: black;
  z-index: 1;

}

.modal-footer{
  background-color: black;
  z-index: 1;
}

/* navbar */

header {
  font: "Abril Fatface";
  background-color: #B22222;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  display: flex;
  align-items: center;
  /*box-shadow: 0 0 25px 0 black;*/
  z-index: 2;
}

.navbar{
  display:grid;
  z-index: 2;
  position: fixed;
}

.normal-text,p{
  background-color: none;
}

header li a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  display: inline;
}

.navbar-brand{
  padding-left:30px;
  text-decoration: none;
  z-index: 6;
}

.nav-link{
  font-size: large;
  color: white;
  position: relative;
  left: 26cm;
  text-decoration: none;
}

.timeline {
  border: solid white 2px;
  position: fixed;
  top: 10%;
  height: 45px;
  width: 100%;
  padding: 8px;
  z-index: 1;
  display: grid;
  backdrop-filter: blur(5px);
  font-family: 'Abril Fatface';
}

.timeline li{
  display: inline;
  text-align: center;
  cursor: pointer;
  padding-left: 10px;
}

.timeline li:hover{
  color: white;
  background-color: #B22222;
  transition-duration: 0.5s;
}

.nav-options{
  color: white;
  display: inline;
  padding-right: 10px;
  text-align: center;
  z-index: 2;
}

/*a:hover{
  color:black;
}*/

a:visited{
  color:white;
  text-decoration: none !important;
}

li:visited{
  color:white;
  text-decoration: none !important;
}

/*texts*/

.intro-text{
  position: fixed;
  top: 25%;
  right: 10%;
  height: 70%;
  width: 80%;
  text-align: center;
  font-size: 18px;
}

.intro-text h1{
  font-size: 80px;
}

.documentation-text{
  border: solid white 2px;
  backdrop-filter: blur(5px);
  position: fixed;
  top: 25%;
  right: 10%;
  height: 70%;
  width: 80%;
  text-align: left;
  font-size: 18px;
  overflow: auto;
  text-align: left;
}

/* noise animation background */

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.noise {
  position: absolute;
  top: -500px;
  right: -500px;
  bottom: -500px;
  left: -500px;
  margin: -50px;
  background: url(https://github.com/dystotypo/dystotypo/blob/main/img/noise.png?raw=true) 0 0;
  background-size: 320px 320px;
  opacity: 0.8;
  -webkit-animation: noise 1s steps(8, end) infinite both;
  animation: noise 1s steps(8, end) infinite both;
}

@-webkit-keyframes noise {
  0% {
    transform: translateX(0px, 0px);
  }
  10% {
    transform: translate(-100px, 100px);
  }
  20% {
    transform: translate(150px, -100px);
  }
  30% {
    transform: translate(-100px, 100px);
  }
  40% {
    transform: translate(100px, -150px);
  }
  50% {
    transform: translate(-100px, 200px);
  }
  60% {
    transform: translate(-200px, -100px);
  }
  70% {
    transform: translateY(50px, 100px);
  }
  80% {
    transform: translate(100px, -150px);
  }
  90% {
    transform: translate(0px, 200px);
  }
  100% {
    transform: translate(-100px, 100px);
  }
}
@keyframes noise {
  0% {
    transform: translateX(0px, 0px);
  }
  10% {
    transform: translate(-100px, 100px);
  }
  20% {
    transform: translate(150px, -100px);
  }
  30% {
    transform: translate(-100px, 100px);
  }
  40% {
    transform: translate(100px, -150px);
  }
  50% {
    transform: translate(-100px, 200px);
  }
  60% {
    transform: translate(-200px, -100px);
  }
  70% {
    transform: translateY(50px, 100px);
  }
  80% {
    transform: translate(100px, -150px);
  }
  90% {
    transform: translate(0px, 200px);
  }
  100% {
    transform: translate(-100px, 100px);
  }
}


#theme_1_book_1{
  display: block;
  max-height: 100%;
  max-width: 100%;
  padding: 5px;
}

/* for the issues page */

.container_issues_page{
  position: absolute;
  width: 100%;
  top: 70%;
  left: 0.1rem;
  display: flex;
  flex-direction: column;
  border: 14px;
  border-color: #fff;
  font-size: 15px;
  font-weight: 500;
}

article{
    position: absolute;
    text-align: center;
    padding-top: 60px;
    padding: 20px;
    color: white;
    background-color: #B22222;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 5px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section.book1 {
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*box-shadow: inset 3px 3px 9px rgba(0, 0, 0, 0.466);*/
  height: 100vh;
}

section#img01 {
  background-image: url(https://raw.githubusercontent.com/dystotypo/dystotypo/main/img/eyes-on-him.jpg);
  background-size:cover;
}

section#img02 {
  background-image: url(https://raw.githubusercontent.com/dystotypo/dystotypo/main/img/F451_wallpaper_parallax.jpg);
}

section#img03 {
  background-image: url(https://raw.githubusercontent.com/dystotypo/dystotypo/main/img/BNW_wallpaper_parallax.jpg);
}

section.normal {
  background-color: #B22222;
  color: white;
  min-height: 300px;
  min-width: 350px;
  padding: 18px;
}

/*This section should be shorted somehow, cause it doesn't seem a good idea to repeat codes for doing the same thing*/
section.book2{
  position: relative;
  background-color: royalblue;
  min-height: 400px;
  box-shadow: inset 3px 3px 9px rgba(0, 0, 0, 0.466);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

section.book3{
  position: relative;
  background-color: royalblue;
  min-height: 400px;
  box-shadow: inset 3px 3px 9px rgba(0, 0, 0, 0.466);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

section > h2 {
  font-size: 1.5em;
  padding-bottom: 20px;
  text-align: center;
  letter-spacing: 2px;
  padding-top: 20px;
  text-shadow: 1px 1px 9px rgba(0, 0, 0, 0.541);
}

section > p {
  display: block;
  text-align: center;
  padding-bottom: 20px;
  min-width: 350px;
  font-size: 16px;
  line-height: 28px;

}

article:visited{
  text-decoration: none;
}

/* for the texts page */

.container {
  position: relative;
  height: 100%;
  margin-top: 130px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  z-index: 0;
}

.flex-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap; /* added */
  max-width: 100%;
}

#menu {
  position: absolute;
  border: solid red 2px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  align-items: center;
  margin-right: 120%;
  margin-top: 0;
  padding: 3%;
  min-height: 400px;
  width: 150px;
  min-width: 50px;
  flex-shrink: 1;
  flex-grow: 1;
}

@media only screen and (max-width: 768px) {
  #menu {
    width: auto;
    height: auto;
    font-size: 16px;
  }
}

#eye-icon {
  width: 30px;
  height: 30px;
}

#flame-icon {
  width: 30px;
  height: 30px;
}

#pill-icon {
  max-width: 30px;
  max-height: 30px;
}

#text {
  z-index: 1;
  position: absolute;
  border: solid green 2px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  margin-left: 20%;
  padding: 2%;
  max-height: 400px;
  width: 900px;
  min-width: 100px;
  overflow: auto;
  flex-shrink: 1;
  flex-grow: 1;
}

@media only screen and (max-width: 768px) {
  #text {
    width: auto;
    height: auto;
    font-size: 16px;
  }
}

#metadata {
  z-index: 2;
  position: relative;
  top: -295px;
  margin-left: 2%;
  width: 800px;
  border: solid blue 2px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  flex-shrink: 1;
  flex-grow: 1;
  height: auto;
  max-height: 0.5;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

@media only screen and (max-width: 768px) {
  #metadata {
    width: auto;
    height: auto;
    font-size: 16px;
  }
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible.active {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  max-height: 50px;
  overflow: inherit;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.scrollable-content {
  max-height: 100px;
  overflow-y: auto;
}

@media only screen and (max-width: 767px) {
  .collapsible {
    width: auto;
    overflow-y: scroll;
    font-size: 16px;
  }
}

/*highlight functionalities*/

#sentenceContent {
  display: flex;
  flex-wrap: wrap;
}


#truth, #memory, #time{
  background-color: none;
  flex: 1;
  margin: 5px;
  height: 100px;
  overflow: auto;
}
#truth:hover, #memory:hover, #time:hover, #truth:active, #memory:active, #time:active{
  background-color: #5b181f;
  border-color: #bab1a0;
}
input[type="checkbox"]{
  color:#bab1a0;
}
.btn-default{
  color:#bab1a0;
}
.btn-default:hover{
  color:#bab1a0;
}

.text-truth {
  background-color: red;
}

.text-memory {
  background-color: purple;
}

.text-time {
  background-color: blue;
}

/* Metadata information*/

ul {
  padding-inline-start: 0.5em;
}
.list {
  font-size: 80%;
  line-height: 1.2;
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
  list-style-position:inside;
}
.list a {
  color: black;
  margin: 0;
}

.list-truth{
  font-family:'scribish';
}


/*.active, .:hover {
  background-color: #555;
}*/

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  color: white;
  border: none;
  text-transform: uppercase;
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-size: large;
  position: relative;
  left: 26cm;
}

.dropdown li{
  /*font-family: 'Dosis';*/
  font-size: 25px;
  color: #eaffd6 !important;
  position: relative;
  display: block;
}

.dropdown-content{
  display: none;
  position: absolute;
  margin-left: 26cm;
  padding: 10px;
  backdrop-filter: blur(5px);
  min-width: 220px;
  z-index: 5;
}

.dropdown-content a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  padding-left: 4%;
  display: block;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown-content a:hover {background-color: #B22222; transition-duration: 0.5s;}

.animate {
  animation-name: bgcolor ;
  animation-duration: 0.75s ;
  animation-iteration-count: 3;
  animation-fill-mode: backwards;
}

/*
@keyframes bgcolor {
  0% {
    background-color: initial;
  }
  50% {
    background-color: #FF0000;
  }
  100% {
    background-color: initial;
  }
}*/
