@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  outline: none;
  box-sizing: border-box;
}

html,
body {
  background-color: #2c2c2c;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  height: 100%;
  min-height: 100%;
}

/*body {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  margin: 0;
  padding: 0;
}*/

/* about modal */

.modal-title{
  color: red;

}

.modal-body{
  background-color: red
}

.modal-header{
  background-color: black;

}

.modal-footer{
  background-color: black;
}

/* navbar */

header {
  font: "Abril Fatface";
  background-color: #B22222;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
}

.navbar{
  display:grid;
  z-index: 9999;
  position: relative;
}

/*header * {
  display: inline;
}*/

/*header li {
  margin: 20px;
  color: white;
}*/

header li a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  display: inline;
}

.navbar-brand{
  padding-left:30px;
}

a:hover{
  color:black;
}

a:visited{
  color:white;
}


/* noise animation background */

html,
body {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.noise {
  position: absolute;
  top: -500px;
  right: -500px;
  bottom: -500px;
  left: -500px;
  margin: -50px;
  background: url(https://github.com/dystotypo/dystotypo/blob/main/img/noise.png?raw=true) 0 0;
  background-size: 320px 320px;
  opacity: 0.8;
  -webkit-animation: noise 1s steps(8, end) infinite both;
  animation: noise 1s steps(8, end) infinite both;
}

@-webkit-keyframes noise {
  0% {
    transform: translateX(0px, 0px);
  }
  10% {
    transform: translate(-100px, 100px);
  }
  20% {
    transform: translate(150px, -100px);
  }
  30% {
    transform: translate(-100px, 100px);
  }
  40% {
    transform: translate(100px, -150px);
  }
  50% {
    transform: translate(-100px, 200px);
  }
  60% {
    transform: translate(-200px, -100px);
  }
  70% {
    transform: translateY(50px, 100px);
  }
  80% {
    transform: translate(100px, -150px);
  }
  90% {
    transform: translate(0px, 200px);
  }
  100% {
    transform: translate(-100px, 100px);
  }
}
@keyframes noise {
  0% {
    transform: translateX(0px, 0px);
  }
  10% {
    transform: translate(-100px, 100px);
  }
  20% {
    transform: translate(150px, -100px);
  }
  30% {
    transform: translate(-100px, 100px);
  }
  40% {
    transform: translate(100px, -150px);
  }
  50% {
    transform: translate(-100px, 200px);
  }
  60% {
    transform: translate(-200px, -100px);
  }
  70% {
    transform: translateY(50px, 100px);
  }
  80% {
    transform: translate(100px, -150px);
  }
  90% {
    transform: translate(0px, 200px);
  }
  100% {
    transform: translate(-100px, 100px);
  }
}


/* for the timeline */



/* for the home page */

.swiper-container-wrapper--timeline .swiper-slide {
  display: inline-block;
  background: #fff;
  min-height: 400px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: fit-content;
  object-fit: contain;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
}

#theme_1_book_1{
  display: block;
  max-height: 100%;
  max-width: 100%;
  padding: 5px;
}

.swiper-container-wrapper--timeline .swiper-slide .container {
  padding: 0;
  width: 100%;
}
.swiper-container-wrapper--timeline .swiper-slide .content-section {
  width: 50%;
  height: 30%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.swiper-container-wrapper--timeline .swiper-slide .content-section-title {
  color: #000;
  margin-bottom: 14px;
  margin-top: 30px;
}
.swiper-container-wrapper--timeline .swiper-slide .content-section ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  background-color: var(--content-bg);
  padding-left: 0;
  margin: 0;
  border-radius: 14px;
  border: 1px solid var(--theme-bg-color);
  cursor: pointer;
}
.swiper-container-wrapper--timeline .swiper-slide .content-section ul li {
  list-style: none;
  padding: 10px 18px;
  display: flex;
  align-items: center;
  font-size: 16px;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  transition: 0.3s;
}
.swiper-container-wrapper--timeline .swiper-slide .content-section ul li:hover {
  background-color: var(--theme-bg-color);
}
.swiper-container-wrapper--timeline .swiper-slide .content-section ul li:hover:first-child {
  border-radius: 13px 13px 0 0;
}
.swiper-container-wrapper--timeline .swiper-slide .content-section ul li:hover:last-child {
  border-radius: 0 0 13px 13px;
}
.swiper-container-wrapper--timeline .swiper-slide .content-section ul li + li {
  border-top: 1px solid var(--border-color);
}
.swiper-container-wrapper--timeline .swiper-slide .content-section ul svg {
  width: 28px;
  border-radius: 6px;
  margin-right: 16px;
  flex-shrink: 0;
}
.swiper-container-wrapper--timeline .swiper-slide .title {
  font-size: 18px;
  opacity: 0;
  transition: 0.5s ease 0.5s;
}
.swiper-container-wrapper--timeline .swiper-slide-active .title {
  opacity: 1;
}
.swiper-container-wrapper--timeline .swiper-pagination-progressbar {
  position: relative;
  margin-bottom: 70px;
  background-color: transparent;
  height: 80px;
  border-bottom: 1px solid #888;
  width: 85%;
}
.swiper-container-wrapper--timeline .swiper-pagination-progressbar-fill {
  background-color: #000;
  height: 3px;
  top: 80px;
}
.swiper-container-wrapper--timeline .swiper-pagination-progressbar:before {
  position: absolute;
  top: 80px;
  left: -100%;
  width: 100%;
  height: 3px;
  background-color: #000;
  content: "";
}
.swiper-container-wrapper--timeline .swiper-pagination-progressbar:after {
  position: absolute;
  top: 80px;
  right: -100%;
  width: 100%;
  height: 1px;
  background-color: #888;
  content: "";
}
.swiper-container-wrapper--timeline .swiper-pagination-custom {
  position: relative;
  list-style: none;
  margin: 1.2rem 0;
  padding: 0;
  display: flex;
  line-height: 1.66;
  bottom: 0;
  z-index: 11;
  width: 85%;
  display: flex;
  top: 80px;
}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch {
  position: relative;
  width: 100%;
  height: 30px;
  line-height: 30px;
  display: block;
  transition: 10s;
}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch .switch-title {
  position: absolute;
  weight: 400;
  right: 0;
  transform: translateX(50%);
  transition: 10s;
  transition-delay: 0s;
  cursor: pointer;
  z-index: 1;
}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch .switch-title:after {
  position: absolute;
  top: calc(100% + 19px);
  right: 50%;
  transform: translateX(50%) translateY(-50%);
  width: 12px;
  height: 12px;
  background: #000;
  border-radius: 2rem;
  content: "";
  transition: 0.2s all ease-in-out;
  transition-delay: 0s;
  z-index: 1;
}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch.active .switch-title {
  font-weight: 550;
  transition-delay: 0s;
}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch.active .switch-title:after {
  background: #000;
  width: 25px;
  height: 25px;
}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch.active ~ .swiper-pagination-switch .switch-title {
  color: #888;
  font-weight: 16px;
}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch.active ~ .swiper-pagination-switch .switch-title:after {
  background: #888;
}


/* for the issues page */

.container_issues_page{
  position: fixed;
  max-height: 60%;
  max-width: 60%;
  overflow-y: scroll;
  top: 30%;
  left: 20%;
  display: flex;
  flex-direction: column;
  border: 14px;
  border-color: #fff;
  font-size: 15px;
  font-weight: 500;
}

article{
    position: absolute;
    text-align: center;
    padding-top: 60px;
    padding: 20px;
    color: white;
    background-color: #241A32;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 5px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

section.book1 {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  box-shadow: inset 3px 3px 9px rgba(0, 0, 0, 0.466);

  height: 100vh;
}

section#img01 {
  background-image: url(https://raw.githubusercontent.com/dystotypo/dystotypo/bcf78118faaafb6a24b1091158d96705168cdbdb/img/1984_wallpaper_parallax_1.jpg);
  background-size: contain;
}

section#img02 {
  background-image: url(https://raw.githubusercontent.com/dystotypo/dystotypo/main/img/F451_wallpaper_parallax.jpg);
}

section#img03 {
  background-image: url(https://raw.githubusercontent.com/dystotypo/dystotypo/main/img/BNW_wallpaper_parallax.jpg);
}

section.normal {
  background-color: #241A32;
  color: white;

  min-height: 300px;
  min-width: 350px;
}

/*This section should be shorted somehow, cause it doesn't seem a good idea to repeat codes for doing the same thing*/
section.book2{
  position: relative;
  background-color: royalblue;
  min-height: 400px;

  box-shadow: inset 3px 3px 9px rgba(0, 0, 0, 0.466);

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

section.book3{
  position: relative;
  background-color: royalblue;
  min-height: 400px;

  box-shadow: inset 3px 3px 9px rgba(0, 0, 0, 0.466);

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

section > h2 {
  font-size: 1.5em;
  padding-bottom: 20px;
  text-align: center;
  letter-spacing: 2px;
  padding-top: 20px;

  text-shadow: 1px 1px 9px rgba(0, 0, 0, 0.541);
}

section > p {
  display: block;
  text-align: center;
  padding-bottom: 20px;
  min-width: 350px;
  font-size: 16px;
  line-height: 28px;

}

article:visited{
  text-decoration: none;
}

/* for the texts page */

.container {
  position: relative;
  height: 140%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.flex-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap; /* added */
  max-width: 100%;
}

#menu {
  position: absolute;
  background-color: purple;
  opacity: 0.8;
  align-items: center;
  border-radius: 10px;
  margin-right: 100%;
  padding: 3%;
  min-height: 400px;
  width: 150px;
  min-width: 50px;
  flex-shrink: 1;
  flex-grow: 1;
}

@media only screen and (max-width: 768px) {
  #menu {
    width: auto;
    height: auto;
    font-size: 16px;
  }
}

#eye-icon {
  width: 30px;
  height: 30px;
}

#flame-icon {
  width: 30px;
  height: 30px;
}

#pill-icon {
  max-width: 30px;
  max-height: 30px;
}

#text {
  z-index: 1;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  margin-left: 30%;
  padding: 2%;
  max-height: 400px;
  width: 800px;
  min-width: 100px;
  overflow: auto;
  flex-shrink: 1;
  flex-grow: 1;
}

@media only screen and (max-width: 768px) {
  #text {
    width: auto;
    height: auto;
    font-size: 16px;
  }
}

#metadata {
  z-index: 2;
  position: relative;
  top: -250px;
  margin-left: 2%;
  width: 800px;
  border-radius: 10px;
  flex-shrink: 1;
  flex-grow: 1;
}

@media only screen and (max-width: 768px) {
  #metadata {
    width: auto;
    height: auto;
    font-size: 16px;
  }
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

@media only screen and (max-width: 767px) {
  .collapsible {
    width: auto;
    height: auto;
    font-size: 16px;
  }
}

.active, .:hover {
  background-color: #555;
}
